@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarin {
  animation: nav-load 500ms ease-in;
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.menuUnhide {
  margin-top: -30vh;
  margin-left: 40vw;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  opacity: 0.4;
}

.menuUnhide.open {
  margin-top: 0vh;
  margin-left: 0vw;
  transform: scale(1);
  opacity: 1;
}


.animationSlideInPage {
  animation: animationSlideInPage-load 1000ms ease-in-out;
}

@keyframes animationSlideInPage-load {
  0% {
    position:fixed;
    overflow:hidden;
    opacity:0.7;
    transform: translateX(37.1%)
  }
  30% {
    opacity:1;
    transform: translateX(37.1%);
    position:fixed
  }
  40% {
    transform: translateX(37.1%);
    position:fixed
  }
  100% {
    transform: translateX(0);
    position:fixed
  }
}


.animationLogo {
  animation: animationLogo-load 300ms ease-in;
  opacity:0;
  animation-fill-mode: forwards;
  animation-delay: 1000ms
}

@keyframes animationLogo-load {
  from {
    opacity:0
  }
  to {
    opacity:1;
  }
}

.animationOpacity {
  animation: animationOpacity-load 800ms ease-in;
  opacity:0;
  animation-fill-mode: forwards;
  animation-delay: 200ms
}

@keyframes animationOpacity-load {
  from {
    opacity:0
  }
  to {
    opacity:1;
  }
}

.animationImage {
  animation: animationImage-load 800ms ease-in;
  opacity:0;
  animation-fill-mode: forwards;
  animation-delay: 600ms
}

@keyframes animationImage-load {
  from {
    opacity:0
  }
  to {
    opacity:1;
  }
}

.animation5 {
  transform: scale(0.9);
  transition: 500ms,
}

.animation5:hover {
  transform: scale(1);
  
}
.animationout {
  animation: animationout-load 1000ms ease-out
}

@keyframes animationout-load {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}


.button:active {
  transform: translateY(4px);
}