@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarin {
  animation: nav-load 500ms ease-in;
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animation {
  animation: animation-load 1000ms ease-in;
}

@keyframes animation-load {
  0% {
    position:fixed;
    overflow:hidden;
    opacity:0.7;
    transform: translateX(37.1%)
  }
  30% {
    opacity:1;
    transform: translateX(37.1%);
    position:fixed
  }
  40% {
    transform: translateX(37.1%);
    position:fixed
  }
  100% {
    transform: translateX(0);
    position:fixed
  }
}

.animation2 {
  animation: animation2-load 300ms ease-in;
  opacity:0;
  animation-fill-mode: forwards;
  animation-delay: 1000ms
}

@keyframes animation2-load {
  from {
    opacity:0
  }
  to {
    opacity:1;
  }
}

.animation3 {
  animation: animation3-load 800ms ease-in;
  opacity:0;
  animation-fill-mode: forwards;
  animation-delay: 200ms
}

@keyframes animation3-load {
  from {
    opacity:0
  }
  to {
    opacity:1;
  }
}

.animation4 {
  animation: animation3-load 800ms ease-in;
  opacity:0;
  animation-fill-mode: forwards;
  animation-delay: 600ms
}

@keyframes animation4-load {
  from {
    opacity:0
  }
  to {
    opacity:1;
  }
}

.animation5 {
  transform: scale(0.9);
  transition: 500ms,
}

.animation5:hover {
  transform: scale(1);
  
}
.animationout {
  animation: animationout-load 1000ms ease-out
}

@keyframes animationout-load {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.width1 {
  width: 10%;
}

.width2 {
  width: 20%;
}

.width3 {
  width: 30%;
}

.width4 {
  width: 40%;
}

.width5 {
  width: 50%;
}

.width6 {
  width: 60%;
}

.width7 {
  width: 70%;
}

.width8 {
  width: 80%;
}

.width9 {
  width: 90%;
}

.width10 {
  width: 100%;
}

.button:active {
  transform: translateY(4px);
}