@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('lato'), url(./components/font/lato.woff) format('woff');
}

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue'), url(./components/font/bebasneue.woff) format('woff');
}

